<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BLBS: Clients</title>
</head>
<body>

    <!-- Body -->
    <div class="w-full h-screen bg-x-theme-background">

        <!-- Sidebar -->
        <%- include("partials/sidebar", { user }) %>

        <!-- Page Content -->
        <div class="w-5/6 ml-auto h-full flex justify-center items-center">

            <!-- Client List Full Body -->
            <div class="w-2/3 h-2/3 bg-x-theme-popup-background border border-x-theme-border rounded-xl">

                <!-- Header -->
                <div class="h-1/6 w-full flex items-center px-8">
                    <h1 class="text-2xl text-x-theme-text-active"> Clients </h1>

                    <form action="/dash/accounts" method="GET" class="w-full flex justify-end">
                        <input
                            type="text"
                            name="search"
                            class="bg-x-theme-mini-popup-background border border-x-theme-border text-x-theme-text-base px-2 py-1.5 rounded-md text-xs outline-none w-1/3"
                            placeholder="Search for client..."
                        >
                            
                        <button type="submit" class="text-xs bg-x-theme-buttons text-x-theme-text-active mx-4 px-2 py-1.5 rounded-md border border-x-theme-buttons hover:bg-x-theme-buttons-active hover:border-x-theme-buttons-active transition-all duration-300 outline-none"> Search </button>
                    </form>
                </div>

                <!-- Client Table -->
                <div class="h-5/6 rounded-b-md overflow-y-auto pb-4">
                    <table class="w-full">
                        <tr class="text-x-theme-text-base">
                            <th class="text-left px-8 pb-4"> Client Name </th>
                            <th class="pb-4 text-center w-1/5"> Actions</th>
                        </tr>
                        <% for (const client of clients) { %>
                            <tr id="<%- client.id %>" class="text-x-theme-text-base border-y border-x-theme-border hover:bg-x-theme-mini-popup-background">
                                <td class="px-8 py-2">
                                    <form action="/dash/accounts/edit/client" method="POST">
                                        <input type="hidden" name="client_id" value="<%- client.id %>">
                                        <input
                                            type="text"
                                            name="client_name"
                                            disabled
                                            value="<%- client.name %>"
                                            class="bg-transparent outline-none w-full px-2 py-1 rounded-md"    
                                        >
                                    </form>
                                </td>
                                <td class="px-8 py-2 text-xl flex items-center justify-center">
                                    <!-- View Account -->
                                    <a href="/dash/accounts/view?client=<%- client.id %>"><ion-icon name="eye" class="p-1 hover:text-x-theme-text-active transition-all" title="View accounts"></ion-icon></a>

                                    <% if (user.permission.toLowerCase() === "dev" || user.permission.toLowerCase() === "admin") { %>
                                    <!-- Edit Account -->
                                    <button onclick="toggleClientEdit('<%- client.id %>');"><ion-icon name="pencil" class="p-1 hover:text-x-theme-text-active transition-all" title="Edit client"></ion-icon></button>

                                    <!-- Delete Account -->
                                    <form action="/dash/accounts/delete/client" method="POST" onsubmit="return confirmDelete();">
                                        <input type="hidden" name="client_id" value="<%- client.id %>">
                                        <button type="submit">
                                            <ion-icon name="trash" class="p-1 hover:text-x-theme-text-logout transition-all" title="Remove client"></ion-icon>
                                        </button>
                                    </form>

                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleClientEdit (id)
        {
            const element = document.getElementById(id).getElementsByTagName("td")[0].getElementsByTagName("input")[1];
            if (element.hasAttribute("disabled")) {
                element.removeAttribute("disabled");
                element.classList.add("bg-x-theme-border")
            } else {
                element.setAttribute("disabled", "disabled");
                element.classList.remove("bg-x-theme-border")
            }
            console.log(element);
        }

        function confirmDelete ()
        {
            return window.confirm("Are you sure you want to delete ths client?");
        }
    </script>

    <!-- Icon imports -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
