<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BLBS: Dev Portal </title>
</head>
<body>

    <!-- Body -->
    <div class="w-full h-screen bg-x-theme-background">

        <!-- Sidebar -->
        <%- include("partials/sidebar", { user }) %>

        <!-- Page Content -->
        <div class="w-5/6 ml-auto h-full flex justify-center items-center">

            <!-- Client List Full Body -->
            <div class="w-3/4 h-3/4 bg-x-theme-popup-background border border-x-theme-border rounded-xl">

                <!-- Header -->
                <div class="h-1/6 w-full flex items-center px-8">
                    <h1 class="text-2xl text-x-theme-text-active w-full"> Update Log </h1>

                    <form action="/dash/dev-portal" method="GET" class="w-full flex justify-end">
                        <input
                            type="text"
                            name="search"
                            class="bg-x-theme-mini-popup-background border border-x-theme-border text-x-theme-text-base px-2 py-1.5 rounded-md text-xs outline-none w-2/3"
                            placeholder="Search by table..."
                        >
                            
                        <button type="submit" class="text-xs bg-x-theme-buttons text-x-theme-text-active mx-4 px-2 py-1.5 rounded-md border border-x-theme-buttons hover:bg-x-theme-buttons-active hover:border-x-theme-buttons-active transition-all duration-300 outline-none"> Search </button>
                    </form>
                </div>

                <!-- Client Table -->
                <div class="h-5/6 rounded-b-md overflow-y-auto pb-4">
                    <table class="w-full">
                        <tr class="text-x-theme-text-base text-left">
                            <th class="pb-4 text-center"> Table Modified </th>
                            <th class="pb-4 text-center"> Action </th>
                            <th class="pb-4 text-center">Timestamp</th>
                            <th class="pb-4 text-center">Details</th>
                        </tr>
                        <% for (const update of updates) { %>
                            <tr class="text-x-theme-text-base border-y border-x-theme-border hover:bg-x-theme-mini-popup-background">
                                <td class="px-8 py-2 text-center">
                                    <%- update.table_name %>
                                </td>
                                <td class="px-8 py-2 text-center">
                                    <%- update.action %>
                                </td>
                                <td class="py-2 text-center">
                                    <%- update.timestamp %>
                                </td>
                                <td class="px-8 py-2 text-center">
                                    <a href="/dash/dev-portal/view?id=<%- update.id %>">
                                        <ion-icon name="information-circle-outline" class="hover:text-x-theme-text-active transition-all text-xl cursor-pointer" title="View update details"></ion-icon> 
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Icon imports -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>