<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BLBS: Accounts</title>
</head>
<body>

    <!-- Body -->
    <div class="w-full h-screen bg-x-theme-background">

        <!-- Sidebar -->
        <%- include("partials/sidebar", { user }) %>

        <!-- Page Content -->
        <div class="w-5/6 ml-auto h-full flex justify-center items-center">

            <!-- Account List Full Body -->
            <div class="w-5/6 h-2/3 bg-x-theme-popup-background border border-x-theme-border rounded-xl">

                <!-- Header -->
                <div class="h-1/6 w-full flex items-center px-8">
                    <h1 class="text-2xl text-x-theme-text-active w-full"> <%- client_name %> </h1>

                    <a href="/dash/accounts" class="text-xs bg-x-theme-buttons text-x-theme-text-active mx-4 px-3 py-1.5 rounded-md border border-x-theme-buttons hover:bg-x-theme-buttons-active hover:border-x-theme-buttons-active transition-all duration-300 outline-none"> Back </a>
                </div>

                <!-- Account Table -->
                <div class="h-5/6 rounded-b-md overflow-y-auto pb-4">
                    <table class="w-full px-2">
                        <tr class="text-x-theme-text-base text-left">
                            <th class="pb-4 pl-8"> Account </th>
                            <th class="pb-4"> Username </th>
                            <th class="pb-4"> Password </th>
                            <th class="pb-4"> Notes </th>
                            <th class="pb-4 text-center"> Actions </th>
                        </tr>
                        <% for (const account of accounts) { %>
                            <tr class="text-x-theme-text-base border-y border-x-theme-border hover:bg-x-theme-mini-popup-background">
                                <td class="px-8 py-2"> <%= account.name %> </td>
                                <td class="py-2"> <%= account.username %> </td>
                                <td class="py-2"> <%= account.password %> </td>
                                <td class="py-2"> <%= account.notes %> </td>
                                <td class="py-2 text-center text-xl">
                                    <a href="/dash/accounts/edit?id=<%- account.id %>"><ion-icon name="pencil" class="p-1 hover:text-x-theme-text-active transition-all" title="Edit account"></ion-icon></a>
                                    <a href="#"><ion-icon name="trash" class="p-1 hover:text-x-theme-text-logout transition-all" title="Remove account"></ion-icon></a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Icon imports -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>