<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Workload: Sales Tax</title>
</head>
<body>

    <!-- Body -->
    <div class="w-full h-screen bg-x-theme-background">

        <!-- Sidebar -->
        <%- include("../partials/sidebar", { user }) %>

        <!-- Page Body -->
        <div class="w-5/6 ml-auto h-full flex flex-col justify-center items-center">

            <!-- New Client Form -->
            <% if (user.permission.toLowerCase() === "dev" || user.permission.toLowerCase() === "admin") { %>
            <div id="NEW_CLIENT" class="hidden absolute flex-col w-1/3 h-fit z-20 bg-x-theme-popup-background border border-x-theme-border rounded-lg">
                <div class="w-full h-fit flex items-center justify-between">
                    <h1 class="p-4 text-xl text-x-theme-text-active"> Add Client </h1>
                    <button onclick="toggleNewClient();" title="Close menu" class="p-4 text-2xl text-x-theme-text-base hover:text-red-500 transition-all">
                        <ion-icon name="close"></ion-icon>
                    </button>
                </div>

                <form method="POST" action="/dash/workloads/sales-tax/create" class="w-full h-fit p-4 pb-8 flex items-center justify-evenly">
                    <input
                        list="client_list" 
                        name="client_name"
                        class="bg-x-theme-mini-popup-background border border-x-theme-border text-x-theme-text-base px-2 py-1.5 mx-2 rounded-md text-xs outline-none w-1/3"
                        placeholder="Client name..."
                    >
                    <datalist id="client_list">
                        <% for (const client of clients) { %>
                            <option value="<%- client.name %>"> <%- client.name %> </option>
                        <% } %>
                    </datalist>
                    <select name="frequency" class="bg-x-theme-mini-popup-background border border-x-theme-border text-x-theme-text-base px-2 py-1.5 mx-2 rounded-md text-xs outline-none w-1/3">
                        <option value="Monthly"> Monthly </option>
                        <option value="Quarterly"> Quarterly </option>
                        <option value="Annually"> Annually </option>
                    </select>

                    <select name="year" class="bg-x-theme-mini-popup-background border border-x-theme-border text-x-theme-text-base px-2 py-1.5 mx-2 rounded-md text-xs outline-none w-1/6">
                        <% for (let i = data.current_year; i >= 2018; i--) { %>
                            <option value="<%- i %>" <%- (data.selected_year == i) ? 'selected' : '' %>> <%- i %> </option>
                        <% } %>
                    </select>

                    <button type="submit" class="text-xs bg-x-theme-buttons text-x-theme-text-active px-2 py-1.5 mx-2 rounded-md border border-x-theme-buttons hover:bg-x-theme-buttons-active hover:border-x-theme-buttons-active transition-all duration-300 outline-none"> Submit </button>
                </form>
            </div>
            <% } %>

            <!-- Page Content -->
            <div class="w-11/12 h-5/6 bg-x-theme-popup-background border border-x-theme-border rounded-xl">

               <!-- Header  -->
                <div class="h-1/6 w-full flex items-center px-8">
                    <!-- Update to hold current year -->
                    <h1 class="text-2xl text-x-theme-text-active w-1/3"> Sales Tax Workload (<%- data.selected_year %>) </h1>

                    <form action="" method="GET" class="w-2/3 flex justify-end">
                        <input
                            type="text"
                            name="search"
                            class="bg-x-theme-mini-popup-background border border-x-theme-border text-x-theme-text-base px-2 py-1.5 rounded-md text-xs outline-none w-1/2"
                            placeholder="Search for client..."
                        >
                            
                        <select onchange="updateDate();" name="year" id="yearDropdown" class="bg-x-theme-buttons rounded-md text-xs text-x-theme-text-active py-1.5 px-2 ml-4">
                            <% for (let i = data.current_year; i >= 2018; i--) { %>
                                <option value="<%- i %>" <%- (data.selected_year == i) ? 'selected' : '' %>> <%- i %> </option>
                            <% } %>
                        </select>

                        <button type="submit" class="text-xs bg-x-theme-buttons text-x-theme-text-active mx-4 px-2 py-1.5 rounded-md border border-x-theme-buttons hover:bg-x-theme-buttons-active hover:border-x-theme-buttons-active transition-all duration-300 outline-none"> Search </button>
                    </form>

                    <% if (user.permission.toLowerCase() === "dev" || user.permission.toLowerCase() === "admin") { %>
                        <button onclick="toggleNewClient();" class="text-xs bg-x-theme-buttons text-x-theme-text-active mr-4 px-2 py-1.5 rounded-md border border-x-theme-buttons hover:bg-x-theme-buttons-active hover:border-x-theme-buttons-active transition-all duration-300 outline-none"> Add </button>
                    <% } %>
               </div>
               
               <!-- Main Table -->
               <div class="w-full h-5/6 overflow-y-auto">
                    <table class="w-full">
                        <tr class="text-x-theme-text-base">
                            <th class="pb-4 text-left pl-8"> Client Name </th>
                            <th class="pb-4"> Frequency </th>
                            <th class="pb-4"> Jan </th>
                            <th class="pb-4"> Feb </th>
                            <th class="pb-4"> Mar </th>
                            <th class="pb-4"> Apr </th>
                            <th class="pb-4"> May </th>
                            <th class="pb-4"> Jun </th>
                            <th class="pb-4"> Jul </th>
                            <th class="pb-4"> Aug </th>
                            <th class="pb-4"> Sep </th>
                            <th class="pb-4"> Oct </th>
                            <th class="pb-4"> Nov </th>
                            <th class="pb-4"> Dec </th>
                            <% if (user.permission.toLowerCase() === "dev" || user.permission.toLowerCase() === "admin") { %>
                                <th class="pb-4 pr-5"> Update </th>
                            <% } %>
                        </tr>
                        
                        <% for (const client of data.clients) { %>
                        <form action="/dash/workloads/sales-tax/update" method="POST">
                            <tr class="text-x-theme-text-base border-y border-x-theme-border hover:bg-x-theme-mini-popup-background">
                                <td class="text-left pl-8 py-4"> <%- client.name %> </td>

                                <td onclick="toggleFrequency('<%- client.client_id %>_freq');" id="<%- client.client_id %>_freq" class="text-center cursor-pointer select-none"> 
                                    <p> <%- client.frequency %> </p>
                                    <input type="hidden" name="frequency" value="<%- client.frequency %>" />
                                </td>

                                <input type="hidden" name="id" value="<%- client.id %>" />
                                <input type="hidden" name="client_id" value="<%- client.client_id %>" />
                                <input type="hidden" name="year" value="2023" />

                                <td onclick="toggleCheckmark('<%- client.client_id %>_jan');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_jan" name="checkmark-sharp" class="<%- (client.jan !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_jan_input" name="jan" value="<%- client.jan %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_feb');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_feb" name="checkmark-sharp" class="<%- (client.feb !== 'checked') ? 'hidden' : '' %>" class="hidden"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_feb_input" name="feb" value="<%- client.feb %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_mar');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_mar" name="checkmark-sharp" class="<%- (client.mar !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_mar_input" name="mar" value="<%- client.mar %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_apr');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_apr" name="checkmark-sharp" class="<%- (client.apr !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_apr_input" name="apr" value="<%- client.apr %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_may');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_may" name="checkmark-sharp" class="<%- (client.may !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_may_input" name="may" value="<%- client.may %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_jun');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_jun" name="checkmark-sharp" class="<%- (client.jun !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_jun_input" name="jun" value="<%- client.jun %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_jul');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_jul" name="checkmark-sharp" class="<%- (client.jul !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_jul_input" name="jul" value="<%- client.jul %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_aug');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_aug" name="checkmark-sharp" class="<%- (client.aug !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_aug_input" name="aug" value="<%- client.aug %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_sep');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_sep" name="checkmark-sharp" class="<%- (client.sep !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_sep_input" name="sep" value="<%- client.sep %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_oct');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_oct" name="checkmark-sharp" class="<%- (client.oct !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_oct_input" name="oct" value="<%- client.oct %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_nov');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_nov" name="checkmark-sharp" class="<%- (client.nov !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_nov_input" name="nov" value="<%- client.nov %>" />
                                </td>
                                <td onclick="toggleCheckmark('<%- client.client_id %>_dec');" class="text-center cursor-pointer"> 
                                    <ion-icon id="<%- client.client_id %>_dec" name="checkmark-sharp" class="<%- (client.dec !== 'checked') ? 'hidden' : '' %>"></ion-icon> 
                                    <input type="hidden" id="<%- client.client_id %>_dec_input" name="dec" value="<%- client.dec %>" />
                                </td>
                                <% if (user.permission.toLowerCase() === "dev" || user.permission.toLowerCase() === "admin") { %>
                                    <td class="text-center pr-5">
                                        <button type="submit" title="Update client" class="text-2xl hover:text-x-theme-text-active transition-all">
                                            <ion-icon name="cloud-upload"></ion-icon>
                                        </button>
                                    </td>
                                <% } %>
                            </tr>
                        </form>
                    <% } %>
               </div>
            </div>


        </div>
    </div>

    <script>
        function toggleCheckmark (id)
        {
            const el = document.getElementById(id);
            const inp = document.getElementById(id + "_input");
            if (el.classList.contains("hidden")) {
                el.classList.remove("hidden");
                inp.value = "checked";
            } else {
                el.classList.add("hidden");
                inp.value = "not-checked";
            }
        }

        const frequencies = [ "Monthly", "Quarterly", "Annually"];

        function toggleFrequency (id)
        {
            const el = document.getElementById(id);
            const p = el.getElementsByTagName("p")[0];
            const input = el.getElementsByTagName("input")[0];

            const current = frequencies.indexOf(p.innerText);

            if (current < frequencies.length - 1) {
                p.innerText = frequencies[current+1];
                input.value = frequencies[current+1];
            } else {
                p.innerText = frequencies[0];
                input.value = frequencies[0];
            }
        }
        
        function updateDate ()
        {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            if (typeof urlParams.search == "undefined") urlParams.search = "";

            const newYear = document.getElementById("yearDropdown").value;

            const path = `${window.location.pathname}?search=${urlParams.search}&year=${newYear}`;
            window.location.href = path;
        }

        function toggleNewClient ()
        {
            const element = document.getElementById("NEW_CLIENT");

            if (element.classList.contains("hidden")) {
                element.classList.remove("hidden");
                element.classList.add("flex");
            } else {
                element.classList.remove("flex");
                element.classList.add("hidden");
            }
        }
    </script>
    

    <!-- Icon imports -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
